@charset "UTF-8";

 header {
      height: 80px;
    }

    .main-box {
    	width: 400px;
    	height: 500px;
    }

    .like {
      float: right;
    }
    
    .search-input {
    
    	height: 30px;
    }

    footer {
      height: 60px;
    }
    
    /* Newpost jsp */
    
    .newpost {
    	width: 500px;
    }
    
    
    
    /* 기본 프로젝트 css */
    
    .content-box {
	width: 600px;
}

.bar {
	height:25px;
	background-color:#dddddd;
}

.full-heart{
	display : none;
}
.comment-bar {
	font-size:13px;
}

.comment {
	font-size:13px;
}

.contents > .join-box {
	width:300px;
}

.new-post-area{
	width:300px;
}